header {
    position: fixed;
    top: 0;
    z-index: 150;
    background-color: #32475B;
    width: 100%;
    height: 50px;
}

#inner_header {
    height: 50px;
    line-height: 50px;
    width: 50%;
    font-size: large;
    float: right;
}

#inner_header ul {
    display: flex;
    justify-content: space-evenly;
    font-family: "Arial";
    font-weight: bold;
}

#inner_header a {
    color: white;
    text-decoration: none;
    transition: color ease-in-out 0.3s;
}

.selected {
    color: #3FB27F;
}

#inner_header a:hover {
    color: #3FB27F;
}